
<br /><br />
<h2>★デバッグメニュー</h2>
<br />
<ul>
  <li><%= link_to "ログイン", login_path, method: :get, class: '', target: :_blank %></li>
  <li><%= link_to "新規登録", new_users_path, method: :get, class: '', target: :_blank %></li>
</ul>
<hr />