<div class="page_name">
  <h2>パスワード再発行</h2><i class="gg-coffee"></i>
</div>
<div id="users">
  <div class="contents-wrapp">
    <%= form_for(@user, url: reset_password_path) do |f| %>
      <div class="input-form">
        <%= f.email_field :email, :placeholder => 'メールアドレス', :class => 'input-field', :maxlength => 255 %>
        <%= f.submit "再発行", :class => 'btn create-btn' %>
      </div>
      <p class="link-p">アカウントをお持ちでパスワードが分かる方はこちらから</p>
      <%= link_to "ログイン", login_path, :class => 'link' %>
    <% end %>
  </div>
</div>