<div id="login_forms">
  <div class="contents-wrapp">
    <div class="page_name">
        <h2>パスワード再発行完了</h2>
    </div>
      <div class="input-form">
        <p class="link-p">パスワードが再設定されました！</p>
        <%= link_to "ログイン", login_path, :class => 'link' %>
      </div>
  </div>
</div>
