/*
 **
 ** モーダルウインドウ
 **
 */
 /*
 ** 初回メッセージ用
 */
 div.quiz_first{
    position: absolute;
    top: 33%;
    left: 35%;
    z-index: 1120;
 }
div.quiz_first p{
    position: absolute;
    top: 20%;
    left: 0%;
    padding-top: 15px;
    padding-left: 30px;
    color: #ffffff;
    font-size: 1.3em;
}
div.quiz_first p#first_msg1{
    display: none;
}
div.quiz_first p#first_msg2{
    position: absolute;
    top: 35%;
    display: none;
}
div.quiz_first img{

}
img.msg_window{
    width: 80%;
}
/*
 ** クイズ正解時の画像表示用
 */
div.quiz_result1{
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1110;
}
div.quiz_result2{
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1110;
}
/* ブラックバグズちゃん */
div.modal-black_bugs{
}
img.modal_window_bugs{
    width: 200px;
}
/* ウインドウ：左 */
div.modal-left_window{
    position: absolute;
    top: 320px;
}
/* ウインドウ：右 */
div.modal-right_window{
    position: absolute;
    top: 123px;
    left: -160px;
    width: 500px;
}
/* 回答後のメッセージを1文字づつ表示 */
div.quiz_result1 p.eachTextAnime{
    color: #ffffff;
    width: 200px;
    white-space: nowrap;
}
div.quiz_result2 p.eachTextAnime{
    color: #ff0000;
    width: 200px;
    white-space: nowrap;
}
.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on .1s ease-out forwards; }
@keyframes text_anime_on {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* メッセージ表示 */
div.msgbox{
    display: none;
    position: absolute;
    top: 450px;
    left: 49%;
    animation: flash_msg 2s linear infinite;
    width:5px;
    height:70px;
    background:#0d20c5;
    margin:20px;
    border-radius:15px;
    padding:10px;
    color: #ffffff;
    white-space: nowrap;
  }
  @keyframes flash_msg {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      width: 320px;
    }
    100% {
      opacity: 1;
      width: 320px;
    }
  }

/*
 ** モーダルウインドウ:枠1
 */
 .modal {
    width: 100%;
    height: 100%;
    /*background-color: rgb(204, 204, 204, 0.5);
    background-color: #9cc9d7;*/
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-image: url(/image/bg.png);

    position: fixed;
    top: 0;
    left: 0;

    display: none; /* 最初は非表示 */
    z-index: 1100;
}
/*
 ** モーダルウインドウ:枠2
 */
.modal-inner {
    position: fixed;
    top: 2%;
    left: 50%;
    /*
    transform: translate(-50% , -50% );
    */
}
/*
 ** モーダルウインドウ:枠3
 */
div.modal_window{
    position: fixed;
}
/*
 ** モーダルウインドウを閉じる
 */
button.close-modal {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}
.fa-times-circle {
    font-size: 32px;
    color: white;

    position: fixed;
    top: 5px;
    right: 5px;
}
/*
 ** モーダルウインドウのボタン
 */
button.modal_btn {
	position: static;
    width: 120px;
    height: auto;
    margin-top: 25px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #0059b3;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #0059b3;    /* 枠の指定 */
}
button.modal_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #0059b3;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
input.modal_radio[type="radio"]{
    margin-right: 1em;
}
/*
 ** バルーンメッセージ
 */
.balloon1 {
display: none;                     /* 要素を非表示 */
}
.balloon {
position: absolute;                   /* 親要素を基準 */
display: inline;                      /* 要素をインラインとして表示 */
padding: 3px;                         /* テキストの前後の余白 */
background-color: rgba(5, 85, 5, 0.76);       /* 背景色（透明度） */
width:180px;                          /* 吹き出し全体の幅 */
height: 30px;
left : 5%;                           /* 表示位置 */
bottom : 100%;                        /* 表示位置 */
margin-bottom : 12px;                 /* 表示位置 */
font-size: 80%;                       /* 文字サイズ */ 
padding-left: 20px;
border-radius:30px;
z-index: 1100;
}
.balloon:after{
border-top: 12px solid rgba(5, 85, 5, 0.76);    /* 吹き出し口の高さ・色 */
border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
bottom: -11px;                          /* 吹き出し口の位置調整 */
left : 5%;                              /* 吹き出し口の横位置 */
content: "";                       /* コンテンツの挿入 */
position: absolute;                /* 親要素を基準 */
}