@media only screen and (max-width: 1280px) { 
    /*
    ** 初回メッセージ用
    */
    div.quiz_first{
        position: absolute;
        top: 33%;
        left: 30%;
        z-index: 1120;
    }
    div.quiz_first p{
        position: absolute;
        top: 20%;
        left: 0%;
        padding-top: 15px;
        padding-left: 30px;
        color: #ffffff;
        font-size: 1.2em;

    }
    div.quiz_first p#first_msg1{
        display: none;
    }
    div.quiz_first p#first_msg2{
        position: absolute;
        top: 35%;
        display: none;
    }
    div.quiz_first img{

    }
    img.msg_window{
        width: 90%;
    }
    /*
    ** クイズ正解時の画像表示用
    */
    div.quiz_result1{
        display: none;
        position: absolute;
        top: 20%;
        left: 50%;
        z-index: 1110;
    }
    div.quiz_result2{
        display: none;
        position: absolute;
        top: 20%;
        left: 50%;
        z-index: 1110;
    }
    /* ブラックバグズちゃん */
    div.modal-black_bugs{
    }
    img.modal_window_bugs{
        width: 200px;
    }
    /* ウインドウ：左 */
    div.modal-left_window{
        position: absolute;
        /*top: 280px;*/
        left: 50px;
    }
    /* ウインドウ：右 */
    div.modal-right_window{
        position: absolute;
        top: 123px;
        left: -160px;
        width: 500px;
    }
    /* 回答後のメッセージを1文字づつ表示 */
    div.quiz_result1 p.eachTextAnime{
        color: #ffffff;
        width: 200px;
        white-space: nowrap;
    }
    div.quiz_result2 p.eachTextAnime{
        color: #ff0000;
        width: 200px;
        white-space: nowrap;
    }
    .eachTextAnime span{opacity: 0;}
    .eachTextAnime.appeartext span{ animation:text_anime_on .1s ease-out forwards; }
    @keyframes text_anime_on {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    /* メッセージ表示 */
    div.msgbox{
        display: none;
        position: absolute;
        top: 450px;
        left: 52%;
        animation: flash_msg 2s linear infinite;
        width:5px;
        height:70px;
        background:#0d20c5;
        margin:20px;
        border-radius:15px;
        padding:10px;
        color: #ffffff;
        white-space: nowrap;
    }
    @keyframes flash_msg {
        0% {
        opacity: 0;
        }
        50% {
        opacity: 1;
        }
        60% {
        opacity: 1;
        width: 300px;
        }
        100% {
        opacity: 1;
        width: 300px;
        }
    }
    /*
    ** モーダルウインドウ:枠2
    */
    .modal-inner {
        /* メール送信ボタンの位置 */
        span.mail_send_btn{
            position: absolute;
            right: 110%;
            top: 20%;
            .send-button {
                width: 140px;
                font-size: 1.6rem;
            }
        }
    }

    /* クイズの回答ラジオボタン */
    ul.quiz-radio-btn{
        /*padding: 10px;*/
        margin: 10px;
        li{
            margin-bottom: 5px;
            font-size: 18px;
            margin: 0px;
        }
    }

    button.toppage{
        font-size: 1.6rem;
        margin: 5px;
        padding: 1px 0;
    }

    div.toppage{
        padding: 35px!important;
    }

    p.char{
        font-size: 1.8rem!important;
    }

}