#login_forms{
    .btn{
        width:22em;
        height:2.5em;
        border-radius: 1.5em;
    }

    .contents-wrapp{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .input-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > input{
            margin-bottom: 2em;
        }
    }

    .input-field{
        width:20em;
        height:2.5em;
        border: 2px solid #BCE0FD;
        border-radius: 1.5em;
        padding-left: 1em;
        &::placeholder{
          color: #2699FB;
        }
    }
    
    .login-btn{
        width:22em;
        height:2.5em;
        background:#2699FB;
        color:#fff;
        text-align: center;
    }

    .create-btn{
        width:22em;
        height:2.5em;
        background:#11e040;
        color:#fff;
        text-align: center;
    }

    .link-p{
        color: #666;
        margin:0;
    }
    
}