/*** ＜メッセージ表示:START＞ ***/
div.notifications{
  color: white;
  text-align: center;  

  .notice {
    background-color: lightseagreen;
  }

  .alert {
    background-color: maroon;
  }
}
/*** ＜メッセージ表示:END＞ ***/

#login_forms{
  .contents-wrapp{
    .page_name {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0%);
      width: fit-content;

      h2{
        background: linear-gradient(transparent 70%, #feff9e 70%);
        font-size: x-large;
        /* font-weight: bold; */
        color: mediumblue;
      }
    }
    #open_rule{
      font-weight: bold;
      color: mediumblue;
    }
    span#corporation_name{
      display: none;
    }
    span#corporation_name.is-active{
      display: contents;
    }
  }
}

@import './users_mobile';