<div id="episode">
    <div class="msgbox_out">
        <div class="msgbox_in">
            <div class="page_name">
                <h2><%= @news.title %></h2>
            </div>
            
            <%# ※参考：https://maipyon.net/box-design/ %>
            <div class="news_box">
                <div class="loose-leaf">
                    <p><%= @news.article %></p>
                </div>
                <div class="footer_link">
                    <p><%= link_to '戻る', game_bugsquest_news_url  %></p>
                </div>
            </div>
        </div>
    </div>
</div>