<div class="loading js-loading">
<div class='tetrominos'>
	<div class='tetromino box1'></div>
	<div class='tetromino box2'></div>
	<div class='tetromino box3'></div>
	<div class='tetromino box4'></div>
  </div>
</div>

<!--l-root-->
<div class="l-root">
<!--//l-header END-->

<!--l-main-->
<main class="l-main">
	
	<div class="c-page__eyecatch">
		<div class="c-page__eyecatch-inner">
			<nav class="c-page__eyecatch-nav">
				<div class="sp-header">
					<div class="sp-logo">
						<img src="./image/bug.s_logo_white.png" alt="">
					</div>
					<div class="sp-buttton-wrap">
						<p class="sp-button">
							<img class="close" src="./image/sp_button.png" alt="">
							<img class="open" src="./image/menu_close.png" alt="">
						</p>
					</div>
				</div>
				<div class="c-page__eyecatch-nav-wrap">
					<ul class="c-page__eyecatch-nav-inner">
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#service">SERVICE</a></li>
						<li><a href="#member">MEMBER</a></li>
						<li><a href="#recruit">RECRUIT</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</nav>
			<h1 class="c-page__eyecatch-title">
				<span class="c-page__eyecatch-title-en"><img src="./image/bug.s_logo_white.png" alt=""></span>
				<span class="c-page__eyecatch-title-sub-title">- Best Unique Gather -</span>
			</h1>
		</div>
		<div class="main-cloud"><img src="./image/dot_kumo5.png" alt=""></div>
		<div class="main-cloud"><img src="./image/dot_kumo5.png" alt=""></div>
		<div class="main-cloud"><img src="./image/dot_kumo5.png" alt=""></div>
		<div class="main-cloud"><img src="./image/dot_kumo5.png" alt=""></div>
		<div class="main-cloud"><img src="./image/dot_kumo5.png" alt=""></div>
		<div class="top-arrow"><img src="./image/top_arrow_white.png" alt=""></div>
	</div>
	<div class="dot_kumo_bg">
			
		<div class="c-fit">
			<nav class="c-page__main-content-nav">
				<ul>
					<li><a href="#about">ABOUT</a></li>
					<li><a href="#service">SERVICE</a></li>
					<li><a href="#member">MEMBER</a></li>
					<li><a href="#recruit">RECRUIT</a></li>
					<li><a href="#contact">CONTACT</a></li>
				</ul>
			</nav>
			<div class="c-content">
				<h2 class="c-page__title about" id="about">ABOUT.</h2>
				<div class="c-catchcopy">
					<h3>ちーむ　バグズ</h3>
					<p>
						株式会社　Bug.s<br><br>
						身近な人の不便を無くしたい。<br><br>
						自分の周りの人が幸せになって欲しい。<br>
						その幸せを波状的に広げていきたい、、、、、<br><br>
						きっかけはそこから。<br>
						Bug.s物語のはじまりです。
					</p>
				</div>
				<div class="about-home">
					<div class="person-party">
						<div class="person">
							<div class="inner">
								<img class="img1" src="./image/side_1.png">
								<img class="img2" src="./image/stop_1.png">
							</div>
						</div>
						<div class="person">
							<div class="inner">
								<img class="img1" src="./image/side_2.png">
								<img class="img2" src="./image/stop_2.png">
							</div>
						</div>
						<div class="person">
							<div class="inner">
								<img class="img1" src="./image/side_3.png">
								<img class="img2" src="./image/stop_3.png">
							</div>
						</div>
						<div class="person">
							<div class="inner">
								<img class="img1" src="./image/side_4.png">
								<img class="img2" src="./image/stop_4.png">
							</div>
						</div>
					</div>
					<div class="home"><img src="./image/home.png" alt=""></div>
				</div>
			</div>
			<section>
				<div class="c-fit" id="service">
					<div class="c-content u-pb0">
						<h2 class="c-page__title service">SERVICE.</h2>
						<ul class="c-abouts-items">
							<li class="c-abouts-item">
								<div class="about-home">
									<div class="person-party reverse">
										<div class="person">
											<div class="inner">
												<img class="img1" src="./image/side_1.png">
												<img class="img2" src="./image/stop_1.png">
											</div>
										</div>
									</div>
								</div>
								<div class="c-abouts-item-inner">
									<div class="c-abouts-wrap">
										<h3>SES<br>
											システムエンジニアリングサービス</h3>
										<p>
											株SESとは、システムエンジニアリングサービスの略です。<br>
											ソフトウェアやシステムの開発・保守・運用における委託契約の一種で特定の業務に対して技術者の労働を提供する契約のことです。<br>
											オフィスにエンジニアを派遣（常駐）することにより、お客様に寄り添った対応、様々なサポートが可能になります。<br>
											Bug.sでは、経験豊富な幅広いエンジニアを保持しており質の高いシステムソリューションを提供しております。<br><br>
											また、開発パートナー企業様も積極的に募集しておりますのでご興味のある企業様は、お気軽にお問い合わせ下さいませ。
										</p>
									</div>
									<div class="c-abouts-item-choices">
										<p>
											問い合わせてみる
										</p>
										<ul>
											<li class="select"><a href="#" >はい</a></li>
											<li>いいえ</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="c-abouts-item">
								<div class="c-abouts-item-inner">
									<div class="c-abouts-wrap">
										<h3>homepagecreation<br>
											HP制作</h3>
										<p>
											コーポレートサイト、LP、ECサイトなど、多様なサイトを制作可能です。<br>
											HP制作、リニューアルはもちろんのこと、企画からデザイン、運用に至るまでお客様のご希望に沿ったサイト構築をご提案いたします。
										</p>
									</div>
									<div class="c-abouts-item-choices">
										<p>
											詳しく聞く
										</p>
										<ul>
											<li class="select black"><a href="#" >はい</a></li>
											<li>いいえ</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="c-abouts-item">
								<div class="c-abouts-item-inner">
									<div class="c-abouts-wrap">
										<h3>stemdevelopment<br>
											システム開発</h3>
										<p>
											ソフトウェア開発<br>
											業務システムの各種ソフトウェア開発について、要件定義、<br>
											設計、プログラミング、テスト、運用の各工程に合わせた<br>
											ご要望を踏まえてハイスキルエンジニアが対応します。<br>
											WebサービスやAPIの利用、RESTfulAPI化、IaaS・PaaS・BaaSを利用したモダンなシステム開発、SaaS・ASPサービスの
											提供等、多くの実績がございます。
										</p>
									</div>
									<div class="c-abouts-item-choices">
										<p>
											内容を確認したい
										</p>
										<ul>
											<li class="select black"><a href="#" >はい</a></li>
											<li>いいえ</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="c-abouts-item">
								
								<div class="about-home">
									<div class="person-party">
										<div class="person">
											<div class="inner">
												<img class="img1" src="./image/side_1.png">
												<img class="img2" src="./image/stop_1.png">
											</div>
										</div>
									</div>
								</div>
								<div class="c-abouts-item-inner">
									<div class="c-abouts-wrap">
										<h3>snsoperation<br>
											SNS運用</h3>
										<p>
											それぞれの企業様にとっての最適な運営戦略の提案やコメントへの返信、<br>
											アクセス解析など、SNS運用に関わるさまざまな業務をサポート致します。<br><br>
											SNS運用代行を利用すれば、運用にかかわる業務を一括で管理するため、<br>
											SNS関連の業務以外にも時間を費やすことが可能です。<br>
											また、定期的な投稿、それぞれの媒体に合った運営戦略を行うため安定したユーザー数を獲得しやすくなります。<br>
											近年増えてきている、SNSでの炎上や、ネガティブなコメント（度を超えた批判的なコメントなど）にも素早く対応することができ、トラブルを事前に回避致します。
										</p>
									</div>
									<div class="c-abouts-item-choices">
										<p>
											聞いてみる
										</p>
										<ul>
											<li class="select"><a href="#" >はい</a></li>
											<li>いいえ</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="c-abouts-item">
								<div class="c-abouts-item-inner">
									<div class="c-abouts-wrap">
										<h3>photograph<br>
											写真撮影</h3>
										<p>
											物撮り、人撮りのどちらも対応可能です。<br>
											経験豊富なカメラマンが、お客様のご要望寄り添った写真撮影を致します。<br><br>
											作品などご覧になりたい場合は、お気軽にお問い合わせ下さい。
										</p>
									</div>
									<div class="c-abouts-item-choices">
										<p>
											写真を見てみる
										</p>
										<ul>
											<li class="select black"><a href="#" >はい</a></li>
											<li>いいえ</li>
										</ul>
									</div>
								</div>
								<div class="person reverse">
									<div class="inner">
										<img class="img1" src="./image/side_4.png">
										<img class="img2" src="./image/stop_4.png">
									</div>
								</div>
							</li>
						</ul>
					</div>
			</section>
			<section class="c-member" id="member">
				<div class="c-fit">
					<div class="c-content u-pt0">
						<h2 class="c-page__title member">MEMBER.</h2>
						<ul class="c-menbers-items">
							<li class="c-menbers-item">
								<div class="title">
									<h3>N.shibazaki</h3>
								</div>
								<div class="c-menbers-wrap">
									<p>
										職業   社長
									</p>
									<p>
									言語<br>
									Java/Ruby/Javascript<br>
									HTML/CSS/Salesforce/
									</p>
									<p>
									フレームワーク<br>
									SpringFramework/Struts<br>
									/RubyonRails/	
									</p>
									<p>
										-　ひとこと　-
									</p>
									<p style="margin-top: 0px !important;">
										挑戦することが人生の醍醐味だ！
									</p>
									<p style="margin-top: 0px !important;">
										連続家族の様に助け合い友人の様に認め合いライバルの様に高め合う
									</p>
								</div>
							</li>
							<li class="c-menbers-item">
								<div class="title">
									<h3>T.sekine</h3>
								</div>
								<div class="c-menbers-wrap">
									<p>
										職業   営業
									</p>
									<p>
										-　ひとこと　-
									</p>
									<p>
										何しても先延ばしにしてたら何も始まらない。<br>
										いつやるの？<br>
										いまでしょ！！！
									</p>
								</div>
							</li>
							<li class="c-menbers-item">
								<div class="title">
									<h3>H.sakurai</h3>
								</div>
								<div class="c-menbers-wrap">
									<p>
										職業   CTO（最高技術責任者）
									</p>
									<p>
									言語<br>
									Java/Javascript<br>
									Ruby/PHP/VBA
									</p>
									<p>
									フレームワーク<br>
									RubyonRails/Vue
									</p>
									<p>
										-　ひとこと　-
									</p>
								</div>
							</li>
							<li class="c-menbers-item">
								<div class="title">
									<h3>E.shimizu</h3>
								</div>
								<div class="c-menbers-wrap">
									<p>
										職業   SE（システムエンジニア）
									</p>
									<p>
									言語<br>
									Java/Javascript/HTML<br>
									/VBA/VB.net/C#/Oracle
									</p>
									<p>
									フレームワーク<br>
									Struts
									</p>
									<p>
										-　ひとこと　-
									</p>
									<p>
									めざせ顧客満足度No.1！<br>
									お客様のご要望を重視して、可能な限り実現します！<br>
									システム化で業務効率アップ↑↑
									</p>
									<br>
								</div>
							</li>
						</ul>
					</div>
			</section>
			<section class="recruit" id="recruit">
				<div class="c-fit">
					<div class="c-content">
						<h2 class="c-page__title recruit">RECRUIT.</h2>
						<ul class="c-recruit-nav-items">
							<li class="c-recruit-nav-item">
								<div class="title">
									<h3>プログラマ</h3>
								</div>
								<div class="img"><img src="./image/recruit_1_img.png" alt=""></div>
							</li>
							<li class="c-recruit-nav-item">
								<div class="title">
									<h3>システム<br class="pc-none">エンジニア</h3>
								</div>
								<div class="img"><img src="./image/recruit_2_img.png" alt=""></div>
							</li>
							<li class="c-recruit-nav-item">
								<div class="title">
									<h3>WEB<br class="pc-none">デザイナー</h3>
								</div>
								<div class="img"><img src="./image/recruit_3_img.png" alt=""></div>
							</li>
							<li class="c-recruit-nav-item">
								<div class="title">
									<h3>やる気の<br class="pc-none">ある方</h3>
								</div>
								<div class="img"><img src="./image/recruit_4_img.png" alt=""></div>
							</li>
						</ul>
						<div class="c-recruit-wrap">
							<dl>
								<dt>対象者</dt>
								<dd>学歴、性別、国籍、年齢不問。やる気があり、成長したい方！
									システム開発経験１年以上お持ちの方、優遇致します。
								</dd>
								<dt>雇用形態</dt>
								<dd>正社員（使用期間あり）、アルバイト
								</dd>
								<dt>職種</dt>
								<dd>プログラマ、システムエンジニア、WEBデザイナー
								</dd>
								<dt>仕事内容</dt>
								<dd>お客様先での常駐支援、自社サービスの開発
								</dd>
								<dt>給与</dt>
								<dd>能力、経験、スキルにより判断いたします。
									前職の給与なども考慮致しますので、ご相談ください。
								</dd>
								<dt>待遇/福利厚生</dt>
								<dd>交通費全額支給
									各種社会保険完備
									奨学金全額負担制度
									資格取得支援制度
									スキルアップ援助制度
									家賃補助￥１０、０００
								</dd>
								<dt>職種</dt>
								<dd>プログラマ、システムエンジニア、WEBデザイナー
								</dd>

							</dl>
						</div>
						<div class="c-recruit-friend">
							<p>仲間募集中!!</p>
						</div>
						<div class="c-recruit-item-choices">
							<p>
								仲間になる
							</p>
							<ul>
								<li class="select black"><a href="#" >はい</a></li>
								<li>いいえ</li>
							</ul>
						</div>
					</div>
			</section>
			<section class="contact" id="contact">
				<div class="c-fit">
					<div class="c-content">
						<h2 class="c-page__title contact">CONTACT.</h2>
						<p class="button-area">
							<button class="send-button"><span class="select">メール送信</span></button>
						</p>
					</div>
					<div class="about-home">
					<div class="person-party reverse">
						<div class="person">
							<div class="inner">
								<img class="img1" src="./image/side_4.png">
								<img class="img2" src="./image/stop_4.png">
							</div>
						</div>
						<div class="person">
							<div class="inner">
								<img class="img1" src="./image/side_3.png">
								<img class="img2" src="./image/stop_3.png">
							</div>
						</div>
						<div class="person">
							<div class="inner">
								<img class="img1" src="./image/side_2.png">
								<img class="img2" src="./image/stop_2.png">
							</div>
						</div>
						<div class="person">
							<div class="inner">
								<img class="img1" src="./image/side_1.png">
								<img class="img2" src="./image/stop_1.png">
							</div>
						</div>
					</div>
				</div>
					<p class="copyright">
						<small>
							(c) 2021.Bug.s
						</small>
					</p>
				</div>
			</section>
			<div class="button">
				<div class="button-inner">
					<img class="img1" src="./image/pedestal.png">
					<img class="img2" src="./image/sword.png">
				</div>
			</div>
		</div>
	</div>
	
	<!--l-footer-->
	<!--//l-footer END-->

</main>
<!--//l-main END-->

</div>
<!--//l-root END-->

<div class="modal close">
	<div class="quiz_first">
		<img class="msg_window" src="./image/msg_window.png" alt="ブラックバグズちゃん" title="ブラックバグズちゃん">
		<p class="eachTextAnime" id="first_msg1">
		ダークサイドに堕ちた「ブラックバグズちゃん」が現れた！
		</p>
		<p class="eachTextAnime" id="first_msg2">
		正しいプログラム言語を使ってバグズちゃんを救いたまえ！！
		</p>
	</div>
	<div class="quiz_result1">
		<ul class="c-abouts-items">
			<li class="c-abouts-item">
				<div class="c-abouts-item-choices">
					<p class="eachTextAnime">バグズちゃんは救われた！！</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="quiz_result2">
		<ul class="c-abouts-items">
			<li class="c-abouts-item">
				<div class="c-abouts-item-choices">
					<p class="eachTextAnime">勇者たちは全滅した・・・</p>
				</div>
			</li>
		</ul>
	</div>
    <div class="modal-inner">
		<div class="modal-black_bugs">
			<img class="modal_window_bugs" src="./image/black_bugs_chan.png" alt="ブラックバグズちゃん" title="ブラックバグズちゃん">
		</div>
        <div class="modal_window">
            <ul class="c-abouts-items">
                <li class="c-abouts-item">
					<div class="modal-left_window">
						<div class="c-abouts-item-choices">
							<span class="balloon1" id="makeImg"></span>
							<p>正しいプログラム言語で浄化じゃ！</p>
							<ul>
								<% @quizzes.each do |key, value| %>
									<li><input type="radio" class="modal_radio" name="amswer[]" value=<%= value %>><%= key %></li>
								<% end %>
								<li><button type="button" class="modal_btn" name="answer">攻撃！</button></li>
							</ul>
						</div>
					</div>
					<div class="modal-right_window">
						<div class="c-abouts-item-choices">
							<ul>
								<li>ブラックバグズちゃん　−　1ぴき</li>
							</ul>
						</div>
					</div>
                </li>
            </ul>
        </div>
    </div>
	<div class="msgbox">バグズちゃんを浄化し、<br />正しいウェブサイトを表示するのじゃ！</div>
</div>