<div id="episode">
    <div class="msgbox_out">
        <div class="msgbox_in">
            <span class="title_news">2022年4月28日</span>
            <p class="text_news">エピソード表示にて、クリアした全エピソードが表示できるようになりました。</p>
        </div>
    </div>
</div>