<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body { background-color: red; }
    </style>
  </head>
  <body>
    <h1>HTML メールテスト</h1>
    <p>HTML メールだよ</p>
  </body>
</html>