img.modal_window_bg{
    /*background-image: url(/image/menber_4_img.png);*/
    animation-delay: 0.8s;
}

div.modal_window{
    /*font-size: 2.4rem;
    position: relative;
    display: initial;*/
    position: relative;
    left: 10px;
    bottom: 10px;
}

.modal {
    width: 100%;
    height: 100%;
    /*background-color: rgb(204, 204, 204, 0.5);
    background-color: #9cc9d7;*/
    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    left: 0;

    display: none; /* 最初は非表示 */
    z-index: 1200;
}

.modal-inner {
    /*
    width: 500px;
    height: 500px;
    
    background-color: rgb(77, 60, 60);

    padding: 50px;
    border-radius: 20px;
*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50% );
    
}

button.close-modal {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}

.fa-times-circle {
    font-size: 32px;
    color: white;

    position: fixed;
    top: 5px;
    right: 5px;
}

button.modal_btn {
	position: static;
    width: 120px;
    height: auto;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #0059b3;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #0059b3;    /* 枠の指定 */
}

button.modal_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #0059b3;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

input.modal_radio[type="radio"]{
    margin-right: 1em;
}