@media only screen and (max-width: 46.875em) { 
    /*
    ** 初回メッセージ用
    */
    div.quiz_first{
        position: absolute;
        top: 33%;
        left: 0%;
        z-index: 1120;
    }
    div.quiz_first p{
        position: absolute;
        top: 20%;
        left: 0%;
        padding-top: 10px;
        padding-left: 15px;
        color: #ffffff;
        font-size: 0.9em;

    }
    div.quiz_first p#first_msg1{
        display: none;
    }
    div.quiz_first p#first_msg2{
        position: absolute;
        top: 35%;
        display: none;
    }
    div.quiz_first img{

    }
    img.msg_window{
        width: 100%;
    }
    /* ブラックバグズちゃん */
        div.quiz_result1{
            display: none;
            position: absolute;
            top: 20%;
            left: 80%;
            z-index: 1110;
        }
        div.quiz_result2{
            display: none;
            position: absolute;
            top: 20%;
            left: 80%;
            z-index: 1110;
        }
        div.modal-black_bugs{
        }
        img.modal_window_bugs{
            width: 100px;
        }
        /* ウインドウ：左 */
        div.modal-left_window{
            position: absolute;
            top: 285px;
            left: -10px;
            transform: scale(0.8,0.8);
        }
        /* ウインドウ：右 */
        div.modal-right_window{
            position: absolute;
            top: 143px;
            left: -240px;
            width: 500px;
            transform: scale(0.8,0.8);
        }
        /* 回答後のメッセージを1文字づつ表示 */
        p.eachTextAnime{
            width: 200px;
            white-space: nowrap;
        }
        .eachTextAnime span{opacity: 0;}
        .eachTextAnime.appeartext span{ animation:text_anime_on .1s ease-out forwards; }
        @keyframes text_anime_on {
            0% {
                opacity:0;
            }
            100% {
                opacity:1;
            }
        }
        /* メッセージ表示 */
        div.msgbox{
            display: none;
            position: absolute;
            top: 300px;
            left: 40%;
            animation: flash_msg 2s linear infinite;
            width:5px;
            height:70px;
            background:#b6143c;
            /*background:#c5380d;*/
            margin:20px;
            border-radius:15px;
            padding:10px;
            font-size: 0.8em;
            color: #ffffff;
            white-space: nowrap;
        }
        @keyframes flash_msg {
            0% {
            opacity: 0;
            }
            50% {
            opacity: 1;
            }
            60% {
            opacity: 1;
            width: 210px;
            }
            100% {
            opacity: 1;
            width: 210px;
            }
        }
    }