<a class="pulse-btn position1" target="_blank" href="/game/gamelist">げーむ</a>
<button class="pulse-btn2 position2"><%= link_to "https://twitter.com/share?url=#{request.url}&text=株式会社Bug.s%0a", target: :_blank do %><i class="fab fa-twitter"></i><% end %></button>
<button class="pulse-btn2 position3"><%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", target: :_blank do %><i class="fab fa-facebook-f"></i><% end %></button>
<div class="modal close">
	<div class="quiz_first">
		<img class="msg_window" src="./image/msg_window.png" alt="ブラックバグズちゃん" title="ブラックバグズちゃん">
		<p>
			<span class="typed1" id="typed1"></span><br />
			<span class="typed2" id="typed2"></span>
		</p>
	</div>
	<div class="quiz_result1">
		<ul class="c-abouts-items">
			<li class="c-abouts-item">
				<div class="c-abouts-item-choices">
					<p class="eachTextAnime">バグズちゃんは救われた！！</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="quiz_result2">
		<ul class="c-abouts-items">
			<li class="c-abouts-item">
				<div class="c-abouts-item-choices">
					<p class="eachTextAnime">勇者たちは全滅した・・・</p>
				</div>
			</li>
		</ul>
	</div>
    <div class="modal-inner">
		<span class="mail_send_btn">
			<button class="send-button"><span class="select">お問い合わせ</span></button>
		</span>
		<div class="modal-black_bugs">
			<img class="modal_window_bugs" src="/image/game/bugsquest/monster/1_black_bugs_chan.png" alt="ブラックバグズちゃん" title="ブラックバグズちゃん">
		</div>
        <div class="modal_window">
            <ul class="c-abouts-items">
                <li class="c-abouts-item">
					<div class="modal-left_window">
						<div class="c-abouts-item-choices">
							<span class="balloon1" id="makeImg">選んで救うのじゃ！</span>
							<p>正しいプログラム言語で浄化じゃ！</p>
							<ul class="quiz-radio-btn">
								<% @quizzes.each do |key, value| %>
									<li><input type="radio" class="modal_radio" name="amswer[]" value=<%= value %>><%= key %></li>
								<% end %>
								<li><button type="button" class="modal_btn" name="answer">攻撃！</button></li>
							</ul>
						</div>
					</div>
					<div class="modal-right_window">
						<div class="c-abouts-item-choices">
							<ul>
								<li>ブラックバグズちゃん　−　1ぴき</li>
							</ul>
						</div>
					</div>
                </li>
            </ul>
        </div>
    </div>
	<div class="msgbox">バグズちゃんを浄化し、<br />Bug.sのウェブサイトを表示するのじゃ！</div>
</div>