<div class="modal close">
	<div class="quiz_first">
		<img class="msg_window" src="./image/msg_window.png" alt="ブラックバグズちゃん" title="ブラックバグズちゃん">
		<p class="eachTextAnime" id="first_msg1">
		ダークサイドに堕ちた「ブラックバグズちゃん」が現れた！
		</p>
		<p class="eachTextAnime" id="first_msg2">
		正しいプログラム言語を使ってバグズちゃんを救いたまえ！！
		</p>
	</div>
	<div class="quiz_result1">
		<ul class="c-abouts-items">
			<li class="c-abouts-item">
				<div class="c-abouts-item-choices">
					<p class="eachTextAnime">バグズちゃんは救われた！！</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="quiz_result2">
		<ul class="c-abouts-items">
			<li class="c-abouts-item">
				<div class="c-abouts-item-choices">
					<p class="eachTextAnime">勇者たちは全滅した・・・</p>
				</div>
			</li>
		</ul>
	</div>
    <div class="modal-inner">
		<div class="modal-black_bugs">
			<img class="modal_window_bugs" src="./image/black_bugs_chan.png" alt="ブラックバグズちゃん" title="ブラックバグズちゃん">
		</div>
        <div class="modal_window">
            <ul class="c-abouts-items">
                <li class="c-abouts-item">
					<div class="modal-left_window">
						<div class="c-abouts-item-choices">
							<span class="balloon1" id="makeImg"></span>
							<p>正しいプログラム言語で浄化じゃ！</p>
							<ul>
								<% @quizzes.each do |key, value| %>
									<li><input type="radio" class="modal_radio" name="amswer[]" value=<%= value %>><%= key %></li>
								<% end %>
								<li><button type="button" class="modal_btn" name="answer">攻撃！</button></li>
							</ul>
						</div>
					</div>
					<div class="modal-right_window">
						<div class="c-abouts-item-choices">
							<ul>
								<li>ブラックバグズちゃん　−　1ぴき</li>
							</ul>
						</div>
					</div>
                </li>
            </ul>
        </div>
    </div>
	<div class="msgbox">バグズちゃんを浄化し、<br />Bug.sのウェブサイトを表示するのじゃ！</div>
</div>