<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B4YPT1WD36"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B4YPT1WD36');
</script>
-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>株式会社Bug.s</title>

<!-- seo -->
<meta name="description" content="ここにHPの説明が入ります。">
<meta name="keywords" content="ここにキーワードが入ります。">

<!-- og -->
<meta property="og:title" content="株式会社Bug.s">
<meta property="og:type" content="website">
<meta property="og:url" content="https://bugs.co.jp/">
<meta property="og:image" content="https://bugs.co.jp/image/ogp.png">

<link rel="icon" href="image/favicon.ico" id="favicon">
<link rel="apple-touch-icon" sizes="180x180" href="image/favicon.ico">

<meta property="og:site_name" content="株式会社Bug.s">
<meta property="og:description" content="ここにHPの説明が入ります。">
<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">

<!--<link rel="stylesheet" href="./css/style.css">-->

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= yield %>
</body>
<!--<script src="./js/jquery-3.6.0.min.js"></script>-->
<script>
  //読み込みが完了したら実行
$(window).on('load',function () {
  // ローディングが10秒以内で終わる場合、読み込み完了後ローディング非表示
  endLoading();
});

//10秒経過した段階で、上記の処理を上書き、強制終了
setTimeout('endLoading()', 1000);

//ローディング非表示処理
function endLoading(){
  // 1秒かけてロゴを非表示にし、その後0.8秒かけて背景を非表示にする
  $('.js-loading .tetrominos').fadeOut(1000, function(){
    $('.js-loading').fadeOut(900);
  });
}

//ハンバーガーメニュー
$('.sp-button,.c-page__eyecatch-nav-wrap a').on('click',function(){//.btn_triggerをクリックすると
  $('.c-page__eyecatch-nav-wrap').fadeToggle(500);//.nav-wrapperが0.5秒でフェードイン(メニューのフェードイン)
  $('body').toggleClass('noscroll');//bodyにnoscrollクラスを付与(スクロールを固定)
  });

  $(window).on('load resize', function(){
  var winW = $(window).width();
  var devW = 750;
  if (winW <= devW) {
    $('body').removeClass('noscroll');
  $('.c-page__eyecatch-nav-wrap').fadeOut();
  } else {
    //768pxより大きい時の処理
  }
});

//スムーススクロール
$(function(){
  $('a[href^="#"]').click(function(){
    var speed = 500;
    var href= $(this).attr("href");
    var target = $(href == "#" || href == "" ? 'html' : href);
    var position = target.offset().top - 50;
    $("html, body").animate({scrollTop:position}, speed, "swing");
    return false;
  });
});
$(function() {
  // 変数にクラスを入れる
  var btn = $('.button');
  
  //スクロールしてページトップから100に達したらボタンを表示
  $(window).on('load scroll', function(){
  var doch = $(document).innerHeight(); //ページ全体の高さ
  var winh = $(window).innerHeight(); //ウィンドウの高さ
  var bottom = doch - winh - 550;
    if (bottom <= $(window).scrollTop()) {
      btn.addClass('active');
    }else{
      btn.removeClass('active');
    }
  });

  //スクロールしてトップへ戻る
  btn.on('click',function () {
  btn.addClass('active-click');
  setTimeout(function(){
    $('body,html').animate({
    scrollTop: 0
    });
    btn.removeClass('active-click');
  },1000);

  });
});
</script>
</html>